@charset "utf-8";
/* CSS Document */

body {
	font-family:sans-serif;
	margin:0
}

.input {
	font-size:16px;
	text-align:center;
	width:170px;
	height:25px;
	border:2px solid #F90;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
}

.button {
	border:0px;
	background-color: #FFB366;
	height:29px;
	font-weight:bold;
	-moz-border-radius: 5px; /* Para Firefox */
	-webkit-border-radius: 5px; /*Para Safari e Chrome */
	border-radius: 5px; /* Para Opera 10.5+*/
}

.button:hover {
	background-color:#F90;
}

.textos {
	font-weight:bold;
	font-size:14px
}

.span {
	text-align:center;
	font-size:12px;
	color:#FF0000;
	font-weight:bold
}

#topo {
	height:50px;
	background-color:#000000;
	margin:auto
}

#login {
	width:450px;
	border:2px solid #06F;
	margin:auto;
	margin-top:70px;
	padding-top:10px;
	-moz-border-radius: 10px; /* Para Firefox */
	-webkit-border-radius: 10px; /*Para Safari e Chrome */
	border-radius: 10px; /* Para Opera 10.5+*/
}

#config {
	width:450px;
	border:2px solid #06F;
	margin:auto;
	margin-top:20px;
	padding-top:10px;
	-moz-border-radius: 10px; /* Para Firefox */
	-webkit-border-radius: 10px; /*Para Safari e Chrome */
	border-radius: 10px; /* Para Opera 10.5+*/
}

#esquecisenha {
	width:350px;
	height:100px;
	border:2px solid #06F;
	margin:auto;
	margin-top:70px;
	-moz-border-radius: 10px; /* Para Firefox */
	-webkit-border-radius: 10px; /*Para Safari e Chrome */
	border-radius: 10px; /* Para Opera 10.5+*/
}