body {font-family: sans-serif;font-size:11px;}

.clear {clear:both}	
/* remove the list style */
.nav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 10px;
    display: none
}

.nav li {
    list-style: none;
    display: inline;
    font-size: 12px;
    font-weight: bolder;
    background-color: #EAA43B;
    border: 2px solid #EAA43B;
    margin-right: 15px;
    padding: 7px;
    width: 100%
}

.nav li:hover {
    color:#FFF
}

.nav li a {
    text-decoration: none;
    color:#000;   
}

.cadastrosul {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    position: absolute;
    width: 166px;
    z-index: 1000;
    display: none
}

.cadastrosul li {
    list-style: none;
    width: 166px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    background-color: #EAAC2F;
    margin:0px;
    min-height: 17px;
    border-bottom: 1px solid #FFF;
    padding: 11px;
}

.cadastrosul li:hover {
    background-color: #EAC665;
    color:#FFF
}

.lia {
    color:#000;
    text-decoration: none;
}

#divopcoes {
    display: none
}