@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
}

#tudo {
    min-width: 1024px;
    width:1024px;
    margin:auto;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
}

#login {
    width:480px;
    height:150px;
    margin:auto;
    background-color:#999;
    vertical-align:middle;
}

#topo {
    min-width: 1024px;
    width:1024px;
    background-color:#CCC;
    height:50px;
    margin:auto;
}

#menu {
    width: 100%;
    background-color:#FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    border-bottom: 2px solid #FF8533
}

.divpri {
    border: 2px solid #EAA43B; 
    padding: 7px; 
    width: 240px; 
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 30px
}

.divpri:hover {
    background-color: #EAA43B;
    color:#FFF
}

.divsec {
    border: 2px solid #EAA43B;
    background-color: #EAA43B;
    padding:7px; 
    width: 170px; 
    float: left;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px
}

.divsec:hover {
    color:#FFF
}

#menuleft {
    float:left;
    background-color:#FFF;
    width:250px;
    padding: 0px;
    color: #000;
}

#conteudo {
    float: left;
    min-width: 1024px;
    width:1024px;
    margin:auto;
    font-size:11px;
}

#rodape {
    min-width: 1024px;
    width:1024px;
    height:35px;
    text-align:center;
    background-color:#000;
    clear:both;
}

#plangrupos {
    width:1024px;
    background-color:#EAEAEA;
    margin:auto;
    font-size:11px;
}

#upload {
    width:1024px;
    background-color:#EAEAEA;
    margin:auto;
    font-size:11px;
}

#import {
    width:1024px;
    background-color:#EAEAEA;
    margin:auto;
    font-size:11px;
}

#popup {
    height: 100%;
    width: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    -moz-opacity:0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    filter:alpha(opacity=75);
}

.botao {
    border: 1px solid #FFF;
    background-color: #EAA43B;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
}

.botao:hover {
    background-color: #FFF;
    color: #FF8533;
}

.data {
    margin: 4px;
    width:120px; 
    height:25px; 
    border: 1px solid #69C; 
    text-align:center; 
    font-size:14px;
    border-radius:5px
}