/* 
    Document   : stylemonitoria
    Created on : 31/08/2010, 10:53:05
    Author     : otto
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#tudo {
    width:1024px;
    margin:auto;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    background-color: #F0F0F6;
}

#cabecalho {
    margin:auto;
}

#tabnav  {
    text-align: center;
}

#tabs {
    text-align: center;
}

#rodape {
    width:1024px;
    height:35px;
    background-color:#000;
    clear:both;
    text-align: center;
    padding-top: 5px;
}


