@charset "utf-8";
/* CSS Document */

#tudo {
    width:1024px;
    margin:auto;
    font-family:Verdana, Geneva, sans-serif;
    font-size:11px;
    border-radius: 10px;
}

#login {
    width:480px;
    margin:auto;
    background-color: #b9b9b9;
    vertical-align:middle;
    border-radius: 10px;
    padding-top:35px
}

#logout {
    border:1px solid #333; 
    padding: 2px;
    background-color: #FFF;
    text-align:center;
    font-weight: bolder; 
    color: #000
}

#logout:hover {
    background-color: #000;
}

#divcabecalho {
    background-color: #EAA43B; 
    width: 1024px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
}

#cabecalho {
    list-style: none;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

#cabecalho li {
    padding: 0px;
    height: 35px;
    width:25%;
    display: inline-block;
}

#topo {
    width:1024px;
    background-color:#FFF;
    height:70px;
    margin:auto;
}

#menu {
    width:1024px;
    height:26px;
    background-color:#CCC;
    margin:auto;
}

#menuleft {
    float:left;
    background-color:#FFF;
    width:1024px;
    padding: 0px;
}

#conteudo {
    width:1024px;
    background-color:#EAEAEA;
    margin:auto;
    border-radius: 10px;
}

#continicio {
    float:left;
    width:1024px;
    margin:auto;
}

#rodape {
    width:1024px;
    height:35px;
    background-color:#000;
    clear:both;
    text-align: center;
    padding-top: 5px;
}

#unico {
    display: none
}

.botaorel {
    border-radius:5px;
    border: 1px solid #FFF;
    font-weight: bolder;
    width: 250px;
    height: 25px;
    background-color: #F5D478;
    /*background: -moz-linear-gradient(bottom, #F5BC38, #F5D478); /*para o Firefox*/
    /*background: -webkit-gradient(linear, center bottom, center top, from(#F5BC38), to(#F5D478)); /*para navegores Webkit*/
}

.click {
    border-radius:5px;
    border: 1px solid #FFF;
    font-weight: bolder;
    width: 250px;
    height: 25px;
    background: -moz-linear-gradient(bottom, #F5BC38, #F5D478); /*para o Firefox*/
    background: -webkit-gradient(linear, center bottom, center top, from(#F5BC38), to(#F5D478)); /*para navegores Webkit*/
}

.divrodape {
    background: #000000;
    border: 2px double #CCC;
    width: auto;
    position:  absolute;
    float: left;
    padding: 10px 12px 10px 10px;
    font-size: 12px;
    z-index: 2;
    display: none
}

.data {
    margin: 4px;
    width:120px; 
    height:25px; 
    border: 1px solid #69C; 
    text-align:center; 
    font-size:14px;
    border-radius:5px
}

.select {
    margin: 5px;
    width:150px; 
    border: 1px solid #69C;
    height:30px; 
    padding:5px;
    background-color:#FFF; 
    border-radius:5px
}