@charset "utf-8";
/* CSS Document */

#tudo {
	width:1024px;
	margin:auto;
	border: 1px solid #000
}

#calibra {
	width:1024px;
	height: 200px;
	background-color:#CCC;
	float:left;
	text-align:center;
}

#relatorios {
	width:1024px;
	height: 0px;
	background-color:#FFFFFF;
	float:left;
}