#geral {
    width: 1024px;
    float: left;
    font-family:arial; 
    font-size:10px;
}

#individual {
    width: 1024px;
    float: left;
    font-family:arial; 
    font-size:10px;
}

.corfd_ntab {
    background-color:#7AAFEB;
    text-align: center
}

.corfd_coltexto {
    background-color: #EBD684;
}

.tdgeral {
    text-align: center
}