@charset "utf-8";
/* CSS Document Menu Inicio*/

body {font-family: sans-serif; font-size:14px;}
.clear {clear:both}	
/* remove the list style */

#monitor {
    margin:0; 
    padding:0; 
    list-style:none;
}

#admin {
    margin:0; 
    padding:0; 
    list-style:none;
}

#web {
    margin:0; 
    padding:0; 
    list-style:none;
}
	
	/* make the LI display inline */
	/* it's position relative so that position absolute */
	/* can be used in submenu */
#monitor li {
    float:left;
    text-align:center;
    font-size:14px;
    display: table-cell;
    vertical-align:middle; 
    width:1020px;
    height:27px;
    background-color: #0099CC;
    margin:0 2px;
}
	
#admin li {
    float:left;
    text-align:center;
    font-size:14px;
    display: table-cell;
    vertical-align:middle;
    height:27px;
    background-color: #0099CC;
    margin:0 2px;
}

#web li {
    float:left;
    text-align:center;
    font-size:14px;
    display: table-cell;
    vertical-align:middle;
    width:198px;
    height:27px;
    background-color: #0099CC;
    margin:0 2px;
}

#admin li:hover{
    background-color: #193191;
}

#monitor li:hover{
    background-color:#193191;
}

#web li:hover{
    background-color:#193191;
}
