#tabs {
	width: 88%;
	height: 30px;
}

#abas ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 29px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}
 
#abas li {
	float: left;
	margin: 0;
	padding: 0;
	height: 28px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 28px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #333;
}

#abas li a {
	text-decoration: none;
	color: #FFF;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}

#abas li a:hover {
	background:#C90;
}
