/* stilo div e ul expandir grupos monitoria */

#expandir {
  width: 830px;
  align: left;
}

ul.exp {
  margin:0; 
  padding:0;
  text-align: left;
}

ul.exp li {
  list-style:none;
  display:inline;
  align:left;
}

ul.exp li a {
  border:1px dotted #000;
  width: 50 px;
  background:#FFFFFF;
  text-align:center;
  text-decoration:none;
  padding: 3px;
  color: #000;
}

