@charset "utf-8";
/* CSS Document */

#tudo {
	width:1024px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	display:block;
}

#menu {
	float:left;
	height:520px;
	width:280px;
	border: 2px solid #CCC;
	margin: 2px;
	overflow:auto;
}

#conteudo {
        float:left;
        width:720px;
        margin-left: 10px;
        height:530px;
        overflow:auto;
}

.ulmenu {
        list-style:none;
        padding:10px;
}

.ulsubmenu {
	list-style:none;
	padding:10px;
}

.divconteudo {
    float:left;
    width:700px
}